<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMLanguageDisplayName</key>
	<string>Clausewitz</string>
	<key>BBLMLanguageCode</key>
	<string>Clwz</string>
	<key>BBLMPreferredFilenameExtension</key>
	<string>txt</string>
	<key>BBLMSupportsTextCompletion</key>
	<true/>
	<key>BBLMScansFunctions</key>
	<true/>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMKeywordList</key>
	<array>
		<string>ROOT</string>
		<string>FROM</string>
		<string>PREV</string>
		<string>PREVPREV</string>
		<string>PREVPREVPREV</string>
		<string>PREVPREVPREVPREV</string>
		<string>THIS</string>
		<string>event_target</string>
		<string>save_event_target_as</string>
		<string>save_global_event_target_as</string>
		<string>always</string>
		<string>count</string>
		<string>limit</string>
		<string>character_event</string>
		<string>long_character_event</string>
		<string>letter_event</string>
		<string>narrative_event</string>
		<string>province_event</string>
		<string>tooltip</string>
		<string>hidden_tooltip</string>
		<string>AND</string>
		<string>OR</string>
		<string>NOT</string>
		<string>NOR</string>
		<string>calc_true_if</string>
		<string>if</string>
		<string>break</string>
		<string>set_variable</string>
		<string>change_variable</string>
		<string>subtract_variable</string>
		<string>multiply_variable</string>
		<string>divide_variable</string>
		<string>which</string>
		<string>check_variable</string>
		<string>is_variable_equal</string>
		<string>flag</string>
		<string>random</string>
		<string>random_list</string>
		<string>abandon_heresy</string>
		<string>abdicate</string>
		<string>abdicate_to</string>
		<string>abdicate_to_most_liked_by</string>
		<string>activate_disease</string>
		<string>activate_plot</string>
		<string>activate_title</string>
		<string>add_ambition</string>
		<string>add_betrothal</string>
		<string>add_building</string>
		<string>add_character_modifier</string>
		<string>add_claim</string>
		<string>add_consort</string>
		<string>add_friend</string>
		<string>add_law</string>
		<string>add_law_w_cooldown</string>
		<string>add_lover</string>
		<string>add_number_to_name</string>
		<string>add_objective</string>
		<string>add_piety_modifier</string>
		<string>add_pressed_claim</string>
		<string>add_prestige_modifier</string>
		<string>add_province_modifier</string>
		<string>add_rival</string>
		<string>add_spouse</string>
		<string>add_spouse_matrilineal</string>
		<string>add_trait</string>
		<string>add_weak_claim</string>
		<string>add_weak_pressed_claim</string>
		<string>adjective</string>
		<string>ambition_succeeds</string>
		<string>approve_law</string>
		<string>back_plot</string>
		<string>banish</string>
		<string>banish_religion</string>
		<string>become_heretic</string>
		<string>best_fit_character_for_title</string>
		<string>break_betrothal</string>
		<string>build_holding</string>
		<string>cancel_ambition</string>
		<string>cancel_job_action</string>
		<string>cancel_objective</string>
		<string>cancel_plot</string>
		<string>capital</string>
		<string>change_diplomacy</string>
		<string>change_intrigue</string>
		<string>change_learning</string>
		<string>change_martial</string>
		<string>change_phase_to</string>
		<string>change_random_civ_tech</string>
		<string>change_random_eco_tech</string>
		<string>change_random_mil_tech</string>
		<string>change_stewardship</string>
		<string>change_tech</string>
		<string>change_variable</string>
		<string>clear_event_target</string>
		<string>clear_global_event_target</string>
		<string>clear_global_event_targets</string>
		<string>clear_revolt</string>
		<string>clear_wealth</string>
		<string>clr_character_flag</string>
		<string>clr_dynasty_flag</string>
		<string>clr_global_flag</string>
		<string>clr_province_flag</string>
		<string>clr_title_flag</string>
		<string>conquest_culture</string>
		<string>convert_to_castle</string>
		<string>convert_to_city</string>
		<string>convert_to_temple</string>
		<string>convert_to_tribal</string>
		<string>copy_random_personality_trait</string>
		<string>copy_title_history</string>
		<string>copy_title_laws</string>
		<string>create_character</string>
		<string>create_family_palace</string>
		<string>create_random_diplomat</string>
		<string>create_random_intriguer</string>
		<string>create_random_priest</string>
		<string>create_random_soldier</string>
		<string>create_random_steward</string>
		<string>create_title</string>
		<string>chronicle</string>
		<string>culture</string>
		<string>culture_techpoints</string>
		<string>cure_illness</string>
		<string>de_jure_liege</string>
		<string>death</string>
		<string>decadence</string>
		<string>destroy_landed_title</string>
		<string>destroy_random_building</string>
		<string>destroy_tradepost</string>
		<string>diplomatic_immunity</string>
		<string>disband_event_forces</string>
		<string>dynasty</string>
		<string>economy_techpoints</string>
		<string>enable_prepared_invasion</string>
		<string>end_war</string>
		<string>embargo</string>
		<string>excommunicate</string>
		<string>faction</string>
		<string>fertility</string>
		<string>gain_all_occupied_titles</string>
		<string>gain_settlements_under_title</string>
		<string>gain_title</string>
		<string>gain_title_plus_barony_if_unlanded</string>
		<string>gender_succ</string>
		<string>give_job_title</string>
		<string>give_minor_title</string>
		<string>give_nickname</string>
		<string>gold</string>
		<string>grant_kingdom_w_adjudication</string>
		<string>grant_title</string>
		<string>grant_title_no_opinion</string>
		<string>health</string>
		<string>hold_election</string>
		<string>impregnate</string>
		<string>impregnate_cuckoo</string>
		<string>imprison</string>
		<string>inherit</string>
		<string>join_attacker_wars</string>
		<string>join_defender_wars</string>
		<string>leave_plot</string>
		<string>log</string>
		<string>make_primary_spouse</string>
		<string>make_primary_title</string>
		<string>military_techpoints</string>
		<string>move_character</string>
		<string>occupy_minors_of_occupied_settlements</string>
		<string>opinion</string>
		<string>participation_scaled_decadence</string>
		<string>participation_scaled_piety</string>
		<string>participation_scaled_prestige</string>
		<string>piety</string>
		<string>plot_succeeds</string>
		<string>press_claim</string>
		<string>prestige</string>
		<string>province_capital</string>
		<string>rebel_defection</string>
		<string>recalc_succession</string>
		<string>reduce_disease</string>
		<string>refill_holding_levy</string>
		<string>relgion_authority</string>
		<string>remove_building</string>
		<string>remove_character_modifier</string>
		<string>remove_claim</string>
		<string>remove_consort</string>
		<string>remove_friend</string>
		<string>remove_holding_modifier</string>
		<string>remove_lover</string>
		<string>remove_nickname</string>
		<string>remove_opinion</string>
		<string>remove_province_modifier</string>
		<string>remove_rival</string>
		<string>remove_settlement</string>
		<string>remove_spouse</string>
		<string>remove_title</string>
		<string>remove_trait</string>
		<string>repeat_event</string>
		<string>reset_coa</string>
		<string>reveal_plot</string>
		<string>reveal_plot_w_message</string>
		<string>reverse_banish</string>
		<string>reverse_culture</string>
		<string>reverse_imprison</string>
		<string>reverse_opinion</string>
		<string>reverse_religion</string>
		<string>reverse_remove_opinion</string>
		<string>reverse_war</string>
		<string>revoke_law</string>
		<string>scaled_wealth</string>
		<string>seize_trade_post</string>
		<string>send_assassin</string>
		<string>set_allow_free_duchy_revokation</string>
		<string>set_allow_free_infidel_revokation</string>
		<string>set_allow_free_revokation</string>
		<string>set_allow_title_revokation</string>
		<string>set_allow_free_vice_royalty_revokation</string>
		<string>set_allow_vice_royalties</string>
		<string>set_appoint_generals</string>
		<string>set_appoint_regents</string>
		<string>set_coa</string>
		<string>set_defacto_liege</string>
		<string>set_defacto_vassal</string>
		<string>set_father</string>
		<string>set_character_flag</string>
		<string>set_dynasty_flag</string>
		<string>set_global_flag</string>
		<string>set_province_flag</string>
		<string>set_title_flag</string>
		<string>set_guardian</string>
		<string>set_investiture</string>
		<string>set_mother</string>
		<string>set_name</string>
		<string>set_opinion_levy_raised_days</string>
		<string>set_parent_religion</string>
		<string>set_protected_inheritance</string>
		<string>set_real_father</string>
		<string>set_reincarnation</string>
		<string>set_the_kings_full_peace</string>
		<string>set_the_kings_peace</string>
		<string>set_tribal_vassal_levy_control</string>
		<string>set_tribal_vassal_tax_income</string>
		<string>spawn_fleet</string>
		<string>spawn_unit</string>
		<string>steal_random_tech</string>
		<string>subjugate_or_take_under_title</string>
		<string>succession</string>
		<string>succession_w_cooldown</string>
		<string>transfer_scaled_wealth</string>
		<string>treasury</string>
		<string>unsafe_destroy_landed_title</string>
		<string>unsafe_religion</string>
		<string>usurp_title</string>
		<string>usurp_title_only</string>
		<string>usurp_title_plus_barony_if_unlanded</string>
		<string>usurp_title_plus_barony_if_unlanded_and_vassals</string>
		<string>usurp_title_plus_barony_if_unlanded_and_vassals_no_adj</string>
		<string>vassal_opinion</string>
		<string>vassalize_or_take_under_title</string>
		<string>vassalize_or_take_under_title_destroy_duchies</string>
		<string>war</string>
		<string>wealth</string>
		<string>id</string>
		<string>desc</string>
		<string>picture</string>
		<string>min_age</string>
		<string>max_age</string>
		<string>trigger</string>
		<string>option</string>
		<string>mean_time_to_happen</string>
		<string>modifier</string>
		<string>factor</string>
		<string>is_triggered_only</string>
		<string>name</string>
		<string>immediate</string>
		<string>value</string>
		<string>duration</string>
		<string>chance</string>
		<string>ai_chance</string>
		<string>hide_window</string>
	</array>
	<key>BBLMPredefinedNameList</key>
	<array>
		<string>any_allied_character</string>
		<string>any_attacker</string>
		<string>any_backed_character</string>
		<string>any_child</string>
		<string>any_claimant</string>
		<string>any_close_relative</string>
		<string>any_courtier</string>
		<string>any_current_enemy</string>
		<string>any_de_jure_vassal</string>
		<string>any_defender</string>
		<string>any_dynasty_member</string>
		<string>any_enemy_plotter</string>
		<string>any_faction_backer</string>
		<string>any_friend</string>
		<string>any_independent_ruler</string>
		<string>any_known_enemy_plotter</string>
		<string>any_liege</string>
		<string>any_lover</string>
		<string>any_opinion_modifier_target</string>
		<string>any_playable_ruler</string>
		<string>any_plot_backer</string>
		<string>any_previous_holder</string>
		<string>any_province_character</string>
		<string>any_province_lord</string>
		<string>any_realm_character</string>
		<string>any_realm_lord</string>
		<string>any_rival</string>
		<string>any_sibling</string>
		<string>any_spouse</string>
		<string>any_consort</string>
		<string>any_trade_post</string>
		<string>any_unique_dynasty_vassal</string>
		<string>any_unknown_enemy_plotter</string>
		<string>any_vassal</string>
		<string>any_ward</string>
		<string>attacker</string>
		<string>best_crusade_claimant</string>
		<string>biggest_realm_size_relative</string>
		<string>controller</string>
		<string>current_heir</string>
		<string>defender</string>
		<string>dynasty_head</string>
		<string>employer</string>
		<string>father</string>
		<string>father_even_if_dead</string>
		<string>father_of_unborn</string>
		<string>guardian</string>
		<string>heir_under_seniority_law</string>
		<string>heir_under_primogeniture_law</string>
		<string>highest_ranked_relative</string>
		<string>holder_scope</string>
		<string>host</string>
		<string>killer</string>
		<string>leader</string>
		<string>liege</string>
		<string>liege_before_war</string>
		<string>lover</string>
		<string>most_participating_attacker</string>
		<string>most_participating_defender</string>
		<string>mother</string>
		<string>mother_even_if_dead</string>
		<string>new_character</string>
		<string>owner</string>
		<string>parent_religion_head</string>
		<string>plot_target_char</string>
		<string>random_allied_character</string>
		<string>random_backed_character</string>
		<string>random_child</string>
		<string>random_courtier</string>
		<string>random_current_enemy</string>
		<string>random_dynasty_member</string>
		<string>random_enemy_plotter</string>
		<string>random_friend</string>
		<string>random_independent_ruler</string>
		<string>random_known_enemy_plotter</string>
		<string>random_lover</string>
		<string>random_opinion_modifier_target</string>
		<string>random_playable_ruler</string>
		<string>random_province_character</string>
		<string>random_province_lord</string>
		<string>random_realm_character</string>
		<string>random_realm_lord</string>
		<string>random_rival</string>
		<string>random_sibling</string>
		<string>random_spouse</string>
		<string>random_consort</string>
		<string>random_trade_post</string>
		<string>random_unknown_enemy_plotter</string>
		<string>random_vassal</string>
		<string>random_ward</string>
		<string>real_father</string>
		<string>reincarnation_scope</string>
		<string>regent</string>
		<string>religion_head</string>
		<string>rightful_religious_head_scope</string>
		<string>ruler</string>
		<string>spouse</string>
		<string>spouse_even_if_dead</string>
		<string>supported_claimant</string>
		<string>top_liege</string>
		<string>trade_post_owner</string>
		<string>job_chancellor</string>
		<string>job_marshal</string>
		<string>job_treasurer</string>
		<string>job_spymaster</string>
		<string>job_spiritual</string>
		<string>title_to_get_rid_of</string>
		<string>any_claim</string>
		<string>any_de_jure_vassal_title</string>
		<string>any_direct_de_jure_vassal_title</string>
		<string>any_demesne_title</string>
		<string>any_heir_title</string>
		<string>any_potential_tribal_county</string>
		<string>any_pretender_title</string>
		<string>any_province_holding</string>
		<string>any_realm_title</string>
		<string>capital_holding</string>
		<string>county</string>
		<string>crownlaw_title</string>
		<string>crusade_target</string>
		<string>dejure_liege_title</string>
		<string>duchy</string>
		<string>empire</string>
		<string>family_palace</string>
		<string>invasion_target</string>
		<string>kingdom</string>
		<string>new_title</string>
		<string>plot_target_title</string>
		<string>primary_title</string>
		<string>random_claim</string>
		<string>random_demesne_title</string>
		<string>random_potential_tribal_county</string>
		<string>random_province_holding</string>
		<string>random_realm_title</string>
		<string>supported_claimant_title</string>
		<string>realm</string>
		<string>succ_law_title</string>
		<string>thirdparty_title_scope</string>
		<string>any_demesne_province</string>
		<string>any_neighbor_province</string>
		<string>any_realm_province</string>
		<string>capital_scope</string>
		<string>location</string>
		<string>plot_target_province</string>
		<string>random_demesne_province</string>
		<string>random_neighbor_province</string>
		<string>random_realm_province</string>
		<string>sea_zone</string>
		<string>any_war</string>
		<string>enemy</string>
		<string>siege</string>
		<string>any_empty_neighbor_province</string>
		<string>any_garrisoned_province</string>
		<string>any_host_courtier</string>
		<string>any_owned</string>
		<string>any_province</string>
		<string>any_title</string>
		<string>any_title_under</string>
		<string>arranged_marriages</string>
		<string>empty_provinces</string>
		<string>enemy_provinces</string>
		<string>independent_titles</string>
		<string>location_ruler_title</string>
		<string>occupier</string>
		<string>other_de_jure_claim</string>
		<string>preferred_heir</string>
		<string>random_empty_neighbor_province</string>
		<string>realm_titles</string>
		<string>unborn</string>
		<string>assimilating_liege</string>
		<string>family</string>
		<string>known_plots</string>
		<string>lasthost</string>
		<string>liege_titles</string>
		<string>age</string>
		<string>age_diff</string>
		<string>ai</string>
		<string>attribute_diff</string>
		<string>at_location</string>
		<string>at_sea</string>
		<string>base_health</string>
		<string>borders_major_river</string>
		<string>can_be_given_away</string>
		<string>can_change_religion</string>
		<string>can_call_crusade</string>
		<string>can_copy_personality_trait_from</string>
		<string>can_have_more_leadership_traits</string>
		<string>can_marry</string>
		<string>character</string>
		<string>check_variable</string>
		<string>claimed_by</string>
		<string>combat_rating</string>
		<string>combat_rating_diff</string>
		<string>completely_controls</string>
		<string>conquest_culture</string>
		<string>continent</string>
		<string>controlled_by</string>
		<string>controls_religion</string>
		<string>culture</string>
		<string>culture_group</string>
		<string>defending_against_claimant</string>
		<string>demesne_efficiency</string>
		<string>demesne_size</string>
		<string>de_facto_liege</string>
		<string>de_jure_liege</string>
		<string>de_jure_liege_or_above</string>
		<string>de_jure_vassal_or_below</string>
		<string>death_reason</string>
		<string>decadence</string>
		<string>dynasty</string>
		<string>difficulty</string>
		<string>diplomacy</string>
		<string>diplomatic_immunity</string>
		<string>dislike_tribal_organization</string>
		<string>distance</string>
		<string>dynasty_realm_power</string>
		<string>excommunicated_for</string>
		<string>faction_power</string>
		<string>family</string>
		<string>father_of_unborn_known</string>
		<string>fertility</string>
		<string>flank_has_leader</string>
		<string>from_ruler_dynasty</string>
		<string>gold</string>
		<string>graphical_culture</string>
		<string>had_character_flag</string>
		<string>had_dynasty_flag</string>
		<string>had_global_flag</string>
		<string>had_province_flag</string>
		<string>had_title_flag</string>
		<string>has_ambition</string>
		<string>has_any_option_modifier</string>
		<string>has_autocephaly</string>
		<string>has_building</string>
		<string>has_called_crusade</string>
		<string>has_character_flag</string>
		<string>has_character_modifier</string>
		<string>has_claim</string>
		<string>has_concubinage</string>
		<string>has_crown_law_title</string>
		<string>has_de_jure_pretension</string>
		<string>has_disease</string>
		<string>has_dlc</string>
		<string>has_dynasty_flag</string>
		<string>has_earmarked_regiments</string>
		<string>has_earmarked_regiments_not_raiding</string>
		<string>has_embargo</string>
		<string>has_empty_holding</string>
		<string>has_epidemic</string>
		<string>has_focus</string>
		<string>has_global_flag</string>
		<string>has_guardian</string>
		<string>has_heresies</string>
		<string>has_higher_tech_than</string>
		<string>has_holder</string>
		<string>has_horde_culture</string>
		<string>has_job_action</string>
		<string>has_job_title</string>
		<string>has_landed_title</string>
		<string>has_law</string>
		<string>has_lover</string>
		<string>has_minor_title</string>
		<string>has_newly_acquired_titles</string>
		<string>has_nickname</string>
		<string>has_objective</string>
		<string>has_opinion_modifier</string>
		<string>has_overseas_holdings</string>
		<string>has_owner</string>
		<string>has_plot</string>
		<string>has_polygamy</string>
		<string>has_province_flag</string>
		<string>has_province_modifier</string>
		<string>has_raised_levies</string>
		<string>has_regent</string>
		<string>has_regiments</string>
		<string>has_siege</string>
		<string>has_strong_claim</string>
		<string>has_title_flag</string>
		<string>has_trade_post</string>
		<string>has_truce</string>
		<string>has_weak_claim</string>
		<string>health</string>
		<string>health_traits</string>
		<string>held_title_rating</string>
		<string>higher_real_tier_than</string>
		<string>higher_tier_than</string>
		<string>holding_type</string>
		<string>holy_order</string>
		<string>imprisoned_days</string>
		<string>independent</string>
		<string>intrigue</string>
		<string>in_battle</string>
		<string>in_command</string>
		<string>in_faction</string>
		<string>in_revolt</string>
		<string>in_siege</string>
		<string>is_abroad</string>
		<string>is_adult</string>
		<string>is_alive</string>
		<string>is_allied_with</string>
		<string>is_at_sea</string>
		<string>is_attacker</string>
		<string>is_betrothed</string>
		<string>is_capital</string>
		<string>is_chancellor</string>
		<string>is_child_of</string>
		<string>is_close_relative</string>
		<string>is_conquered</string>
		<string>is_consort</string>
		<string>is_contested</string>
		<string>is_councillor</string>
		<string>is_crown_law_title</string>
		<string>is_dying</string>
		<string>is_father</string>
		<string>is_father_real_father</string>
		<string>is_female</string>
		<string>is_feudal</string>
		<string>is_foe</string>
		<string>is_former_lover</string>
		<string>is_friend</string>
		<string>is_guardian</string>
		<string>is_heresy_of</string>
		<string>is_heretic</string>
		<string>is_holy_site</string>
		<string>is_ill</string>
		<string>is_ironman</string>
		<string>is_land</string>
		<string>is_landed</string>
		<string>is_landless_type_title</string>
		<string>is_liege_of</string>
		<string>is_liege_or_above</string>
		<string>is_located_in</string>
		<string>is_looting</string>
		<string>is_looting_in</string>
		<string>is_lover</string>
		<string>is_lowborn</string>
		<string>is_main_spouse</string>
		<string>is_marriage_adult</string>
		<string>is_married</string>
		<string>is_married_matrilineally</string>
		<string>is_marshal</string>
		<string>is_merchant_republic</string>
		<string>is_mother</string>
		<string>is_occupied</string>
		<string>is_older_than</string>
		<string>is_parent_religion</string>
		<string>is_patrician</string>
		<string>is_playable</string>
		<string>is_plot_active</string>
		<string>is_plot_target_of</string>
		<string>is_pregnant</string>
		<string>is_pretender</string>
		<string>is_priest</string>
		<string>is_primary_heir</string>
		<string>is_primary_holder_title</string>
		<string>is_primary_holder_title_heir</string>
		<string>is_primary_type_title</string>
		<string>is_primary_war_attacker</string>
		<string>is_primary_war_defender</string>
		<string>is_recent_grant</string>
		<string>is_reformed_religion</string>
		<string>is_reincarnated</string>
		<string>is_republic</string>
		<string>is_rival</string>
		<string>is_ruler</string>
		<string>is_spiritual</string>
		<string>is_spymaster</string>
		<string>is_theocracy</string>
		<string>is_title_active</string>
		<string>is_titular</string>
		<string>is_treasurer</string>
		<string>is_tribal</string>
		<string>is_tribal_type_title</string>
		<string>is_valid_attraction</string>
		<string>is_valid_viking_invasion_target</string>
		<string>is_variable_equal</string>
		<string>is_vassal_or_below</string>
		<string>is_vice_royalty</string>
		<string>is_winter</string>
		<string>is_within_diplo_range</string>
		<string>leads_faction</string>
		<string>learning</string>
		<string>lifestyle_traits</string>
		<string>likes_better_than</string>
		<string>loot</string>
		<string>lower_real_tier_than</string>
		<string>lower_tier_than</string>
		<string>martial</string>
		<string>mercenary</string>
		<string>month</string>
		<string>monthly_income</string>
		<string>multiplayer</string>
		<string>num_culture_realm_provs</string>
		<string>num_fitting_characters_for_title</string>
		<string>num_of_baron_titles</string>
		<string>num_of_buildings</string>
		<string>num_of_children</string>
		<string>num_of_claims</string>
		<string>num_of_consorts</string>
		<string>num_of_count_titles</string>
		<string>num_of_duke_titles</string>
		<string>num_of_dynasty_members</string>
		<string>num_of_emperor_titles</string>
		<string>num_of_empty_holdings</string>
		<string>num_of_extra_landed_titles</string>
		<string>num_of_faction_backers</string>
		<string>num_of_friends</string>
		<string>num_of_holy_sites</string>
		<string>num_of_king_titles</string>
		<string>num_of_lovers</string>
		<string>num_of_max_settlements</string>
		<string>num_of_plot_backers</string>
		<string>num_of_prisoners</string>
		<string>num_of_realm_counties</string>
		<string>num_of_rivals</string>
		<string>num_of_settlements</string>
		<string>num_of_spouses</string>
		<string>num_of_titles</string>
		<string>num_of_trade_posts</string>
		<string>num_of_trade_post_diff</string>
		<string>num_of_traits</string>
		<string>num_of_unique_dynasty_vassals</string>
		<string>num_of_vassals</string>
		<string>num_title_realm_provs</string>
		<string>num_traits</string>
		<string>opinion</string>
		<string>opinion_diff</string>
		<string>opinion_levy_raised_days</string>
		<string>overlord_of</string>
		<string>over_max_demesne_size</string>
		<string>over_vassal_limit</string>
		<string>owns</string>
		<string>pacifist</string>
		<string>personal_opinion</string>
		<string>personal_opinion_diff</string>
		<string>personality_traits</string>
		<string>piety</string>
		<string>plot_is_known_by</string>
		<string>plot_power</string>
		<string>plot_power_contribution</string>
		<string>port</string>
		<string>preparing_invasion</string>
		<string>prestige</string>
		<string>prisoner</string>
		<string>province</string>
		<string>province_id</string>
		<string>real_tier</string>
		<string>realm_diplomacy</string>
		<string>realm_intrigue</string>
		<string>realm_learning</string>
		<string>realm_martial</string>
		<string>realm_size</string>
		<string>realm_stewardship</string>
		<string>rebel</string>
		<string>relative_power</string>
		<string>relative_power_to_liege</string>
		<string>religion</string>
		<string>religion_authority</string>
		<string>religion_group</string>
		<string>reverse_has_opinion_modifier</string>
		<string>reverse_has_truce</string>
		<string>reverse_opinion</string>
		<string>reverse_personal_opinion</string>
		<string>reverse_personal_opinion_diff</string>
		<string>revolt_risk</string>
		<string>rightful_religious_head</string>
		<string>ruled_years</string>
		<string>same_guardian</string>
		<string>same_liege</string>
		<string>same_realm</string>
		<string>same_sex</string>
		<string>scaled_wealth</string>
		<string>sibling</string>
		<string>stewardship</string>
		<string>temporary</string>
		<string>terrain</string>
		<string>their_opinion</string>
		<string>tier</string>
		<string>title</string>
		<string>total_claims</string>
		<string>trait</string>
		<string>treasury</string>
		<string>troops</string>
		<string>using_cb</string>
		<string>vassal_of</string>
		<string>war</string>
		<string>war_score</string>
		<string>war_title</string>
		<string>war_with</string>
		<string>was_conceived_a_bastard</string>
		<string>wealth</string>
		<string>would_be_heir_under_law</string>
		<string>year</string>
		<string>yearly_income</string>
	</array>
	<key>BBLMCommentLineDefault</key>
	<string>#</string>
	<key>Language Features</key>
	<dict>
		<key>Identifier and Keyword Character Class</key>
		<string>A-Za-z0-9_\-</string>
		<key>Function Pattern</key>
		<string>
		(?x:
			(?P&lt;leadspace&gt;^\s*)
			(?P&lt;function&gt;
				(character|long_character|letter|narrative|province|diploresponse|unit)_event\s*=\s*\{\r\s*id\s*=\s*
				(?P&lt;function_name&gt;
					\S+
				)
				(?s:.+?)
				\r(?P=leadspace)\}
			)
		)		
		</string>
		<key>Comment Pattern</key>
		<string>
		(?x:
			(\#.*?$)
		)
		</string>
		<key>String Pattern</key>
		<string>
		(?x:
			(&quot;(\\&quot;|[^&quot;\r]|\\\r)*&quot;)
		)
		</string>
		<key>Skip Pattern</key>
		<string>
		(?x:
			(?P&gt;comment) |
			(?P&gt;string)
		)</string>
	</dict>
</dict>
</plist>
